<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spareEffect.0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{0,0},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spareEffect.0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{200,0},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spareEffect.0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{400,0},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spareEffect.0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{600,0},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spareEffect.0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{800,0},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spareEffect.0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{0,400},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spareEffect.0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{200,400},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spareEffect.0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{400,400},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spareEffect.0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{600,400},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spareEffect.0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{800,400},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spareEffect.0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{0,800},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spareEffect.0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{200,800},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spareEffect.0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{400,800},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spareEffect.0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{600,800},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spareEffect.0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{800,800},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spareEffect.0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{0,1200},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spareEffect.0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{200,1200},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spareEffect.0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{400,1200},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spareEffect.0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{600,1200},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spareEffect.0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{800,1200},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spareEffect.0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{0,1600},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spareEffect.0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{200,1600},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spareEffect.0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{400,1600},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spareAnimation.png</string>
            <key>size</key>
            <string>{1000,2000}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8848074aae6dcfbf285ed9dcb52f050c:2376c6adf93d67d367bedd3ad05c26bf:a5b21cb37f70dc61429a3c2cbf0e47de$</string>
            <key>textureFileName</key>
            <string>spareAnimation.png</string>
        </dict>
    </dict>
</plist>
