<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00025-1283299010_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{838,662}</string>
                <key>spriteSourceSize</key>
                <string>{838,662}</string>
                <key>textureRect</key>
                <string>{{0,0},{838,662}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00025-1283299010_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{494,672}</string>
                <key>spriteSourceSize</key>
                <string>{494,672}</string>
                <key>textureRect</key>
                <string>{{0,662},{494,672}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00025-1283299010_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,95}</string>
                <key>spriteSourceSize</key>
                <string>{191,95}</string>
                <key>textureRect</key>
                <string>{{494,662},{191,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00025-1283299010_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,140}</string>
                <key>spriteSourceSize</key>
                <string>{22,140}</string>
                <key>textureRect</key>
                <string>{{685,662},{22,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00025-1283299010_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,135}</string>
                <key>spriteSourceSize</key>
                <string>{21,135}</string>
                <key>textureRect</key>
                <string>{{707,662},{21,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00025-1283299010_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,17}</string>
                <key>spriteSourceSize</key>
                <string>{148,17}</string>
                <key>textureRect</key>
                <string>{{728,662},{148,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00025-1283299010_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,186}</string>
                <key>spriteSourceSize</key>
                <string>{190,186}</string>
                <key>textureRect</key>
                <string>{{0,1334},{190,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00025-1283299010_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,478}</string>
                <key>spriteSourceSize</key>
                <string>{380,478}</string>
                <key>textureRect</key>
                <string>{{190,1334},{380,478}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00025-1283299010_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{355,462}</string>
                <key>spriteSourceSize</key>
                <string>{355,462}</string>
                <key>textureRect</key>
                <string>{{570,1334},{355,462}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00025-1283299010_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,34}</string>
                <key>spriteSourceSize</key>
                <string>{32,34}</string>
                <key>textureRect</key>
                <string>{{0,1812},{32,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00025-1283299010_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,34}</string>
                <key>spriteSourceSize</key>
                <string>{32,34}</string>
                <key>textureRect</key>
                <string>{{32,1812},{32,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00025-1283299010_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{33,33}</string>
                <key>textureRect</key>
                <string>{{64,1812},{33,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00025-1283299010_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,36}</string>
                <key>spriteSourceSize</key>
                <string>{33,36}</string>
                <key>textureRect</key>
                <string>{{97,1812},{33,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00025-1283299010_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{792,62}</string>
                <key>spriteSourceSize</key>
                <string>{792,62}</string>
                <key>textureRect</key>
                <string>{{130,1812},{792,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00025-1283299010_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{791,62}</string>
                <key>spriteSourceSize</key>
                <string>{791,62}</string>
                <key>textureRect</key>
                <string>{{0,1874},{791,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>frames.png</string>
            <key>size</key>
            <string>{925,1936}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dcdada66e63e04e6a808ace9c05cbd71:af58be30e2df79d45bb0d5e982748294:03720aaa70b79a7e22cfec5869447e57$</string>
            <key>textureFileName</key>
            <string>frames.png</string>
        </dict>
    </dict>
</plist>
