<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame_0000_Слой-29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,480}</string>
                <key>spriteSourceSize</key>
                <string>{380,480}</string>
                <key>textureRect</key>
                <string>{{1107,146},{380,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_0001_Слой-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{519,689}</string>
                <key>spriteSourceSize</key>
                <string>{519,689}</string>
                <key>textureRect</key>
                <string>{{845,626},{519,689}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_0002_Слой-28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{353,461}</string>
                <key>spriteSourceSize</key>
                <string>{353,461}</string>
                <key>textureRect</key>
                <string>{{754,146},{353,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_0003_Группа-7-копия.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{845,654}</string>
                <key>spriteSourceSize</key>
                <string>{845,654}</string>
                <key>textureRect</key>
                <string>{{0,626},{845,654}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_0004_Слой-31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{797,66}</string>
                <key>spriteSourceSize</key>
                <string>{797,66}</string>
                <key>textureRect</key>
                <string>{{183,57},{797,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_0005_Слой-29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{731,56}</string>
                <key>spriteSourceSize</key>
                <string>{731,56}</string>
                <key>textureRect</key>
                <string>{{633,0},{731,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_0006_Слой-32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,186}</string>
                <key>spriteSourceSize</key>
                <string>{194,186}</string>
                <key>textureRect</key>
                <string>{{185,146},{194,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_0007_Слой-33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,282}</string>
                <key>spriteSourceSize</key>
                <string>{276,282}</string>
                <key>textureRect</key>
                <string>{{478,146},{276,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_0008_Слой-34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,210}</string>
                <key>spriteSourceSize</key>
                <string>{99,210}</string>
                <key>textureRect</key>
                <string>{{379,146},{99,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_0009_Слой-25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,87}</string>
                <key>spriteSourceSize</key>
                <string>{81,87}</string>
                <key>textureRect</key>
                <string>{{1342,57},{81,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_0010_Слой-24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,80}</string>
                <key>spriteSourceSize</key>
                <string>{77,80}</string>
                <key>textureRect</key>
                <string>{{1188,57},{77,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_0011_Слой-23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,76}</string>
                <key>spriteSourceSize</key>
                <string>{75,76}</string>
                <key>textureRect</key>
                <string>{{1113,57},{75,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_0012_Слой-22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,80}</string>
                <key>spriteSourceSize</key>
                <string>{77,80}</string>
                <key>textureRect</key>
                <string>{{1265,57},{77,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_0013_Слой-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,23}</string>
                <key>spriteSourceSize</key>
                <string>{114,23}</string>
                <key>textureRect</key>
                <string>{{142,0},{114,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_0014_Слой-20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,110}</string>
                <key>spriteSourceSize</key>
                <string>{23,110}</string>
                <key>textureRect</key>
                <string>{{113,146},{23,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_0015_Слой-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,16}</string>
                <key>spriteSourceSize</key>
                <string>{122,16}</string>
                <key>textureRect</key>
                <string>{{0,0},{122,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_0016_Группа-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,112}</string>
                <key>spriteSourceSize</key>
                <string>{23,112}</string>
                <key>textureRect</key>
                <string>{{162,146},{23,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_0017_Слой-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,57}</string>
                <key>spriteSourceSize</key>
                <string>{56,57}</string>
                <key>textureRect</key>
                <string>{{1417,0},{56,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_0018_Слой-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,63}</string>
                <key>spriteSourceSize</key>
                <string>{65,63}</string>
                <key>textureRect</key>
                <string>{{118,57},{65,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_0019_Слой-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,72}</string>
                <key>spriteSourceSize</key>
                <string>{66,72}</string>
                <key>textureRect</key>
                <string>{{1047,57},{66,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_0020_Слой-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,69}</string>
                <key>spriteSourceSize</key>
                <string>{67,69}</string>
                <key>textureRect</key>
                <string>{{980,57},{67,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_0021_Слой-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,34}</string>
                <key>spriteSourceSize</key>
                <string>{66,34}</string>
                <key>textureRect</key>
                <string>{{399,0},{66,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_0022_Слой-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,45}</string>
                <key>spriteSourceSize</key>
                <string>{30,45}</string>
                <key>textureRect</key>
                <string>{{544,0},{30,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_0023_Слой-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,29}</string>
                <key>spriteSourceSize</key>
                <string>{59,29}</string>
                <key>textureRect</key>
                <string>{{340,0},{59,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_0024_Группа-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,44}</string>
                <key>spriteSourceSize</key>
                <string>{29,44}</string>
                <key>textureRect</key>
                <string>{{515,0},{29,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_0025_Слой-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,93}</string>
                <key>spriteSourceSize</key>
                <string>{88,93}</string>
                <key>textureRect</key>
                <string>{{0,146},{88,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_0026_Слой-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,89}</string>
                <key>spriteSourceSize</key>
                <string>{102,89}</string>
                <key>textureRect</key>
                <string>{{1423,57},{102,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_0027_Слой-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,56}</string>
                <key>spriteSourceSize</key>
                <string>{53,56}</string>
                <key>textureRect</key>
                <string>{{1364,0},{53,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_0028_Слой-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,61}</string>
                <key>spriteSourceSize</key>
                <string>{64,61}</string>
                <key>textureRect</key>
                <string>{{54,57},{64,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_0029_Слой-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,59}</string>
                <key>spriteSourceSize</key>
                <string>{54,59}</string>
                <key>textureRect</key>
                <string>{{0,57},{54,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_0030_Слой-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,48}</string>
                <key>spriteSourceSize</key>
                <string>{59,48}</string>
                <key>textureRect</key>
                <string>{{574,0},{59,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_0031_Слой-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,41}</string>
                <key>spriteSourceSize</key>
                <string>{50,41}</string>
                <key>textureRect</key>
                <string>{{465,0},{50,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_0032_Слой-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,25}</string>
                <key>spriteSourceSize</key>
                <string>{28,25}</string>
                <key>textureRect</key>
                <string>{{312,0},{28,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_0033_Слой-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,105}</string>
                <key>spriteSourceSize</key>
                <string>{25,105}</string>
                <key>textureRect</key>
                <string>{{88,146},{25,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_0034_Слой-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,23}</string>
                <key>spriteSourceSize</key>
                <string>{56,23}</string>
                <key>textureRect</key>
                <string>{{256,0},{56,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_0035_Слой-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,22}</string>
                <key>spriteSourceSize</key>
                <string>{20,22}</string>
                <key>textureRect</key>
                <string>{{122,0},{20,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_0036_Группа-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,110}</string>
                <key>spriteSourceSize</key>
                <string>{26,110}</string>
                <key>textureRect</key>
                <string>{{136,146},{26,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>frames_v2.png</string>
            <key>size</key>
            <string>{1525,1315}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c1682ce499a59f1e760bebd84378bad:580243a0a69d7d089a0c560207c1776a:64bbde2e6bc3d95c647d5cd89f51acf6$</string>
            <key>textureFileName</key>
            <string>frames_v2.png</string>
        </dict>
    </dict>
</plist>
