<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gem_0000_Слой-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,50}</string>
                <key>spriteSourceSize</key>
                <string>{31,50}</string>
                <key>textureRect</key>
                <string>{{0,0},{31,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gem_0001_00064-84583212.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,50}</string>
                <key>spriteSourceSize</key>
                <string>{31,50}</string>
                <key>textureRect</key>
                <string>{{31,0},{31,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gem_0002_Слой-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,50}</string>
                <key>spriteSourceSize</key>
                <string>{32,50}</string>
                <key>textureRect</key>
                <string>{{62,0},{32,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gem_0003_00056-4022123527.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,50}</string>
                <key>spriteSourceSize</key>
                <string>{31,50}</string>
                <key>textureRect</key>
                <string>{{94,0},{31,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gems.png</string>
            <key>size</key>
            <string>{125,50}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec2d7f4455f2ad5a80260b220494d47c:11786bd56f071c3c2ef7a9d5781a4f6b:66a82c15c3c8b1931d42835f59dfb727$</string>
            <key>textureFileName</key>
            <string>gems.png</string>
        </dict>
    </dict>
</plist>
