<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00015-4251678009_0000_00024-3749716474 (Пользовательское).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00015-4251678009_0001_00023-3749716473 (Пользовательское).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{100,0},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00015-4251678009_0002_00022-3749716472 (Пользовательское).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{200,0},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00015-4251678009_0003_00021-3749716471 (Пользовательское).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{300,0},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00015-4251678009_0004_00020-3749716470 (Пользовательское).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{400,0},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00015-4251678009_0006_00017-4251678011 (Пользовательское).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{500,0},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00015-4251678009_0007_00016-4251678010 (Пользовательское).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{600,0},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00015-4251678009_0008_00015-4251678009 (Пользовательское).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{700,0},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00015-4251678009_0009_00019-4251678013 (Пользовательское).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{800,0},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00015-4251678009_0010_Слой-0 (Пользовательское).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{900,0},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tile_backgrounds.png</string>
            <key>size</key>
            <string>{1000,100}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e4d459ee76b4dfcb937ce7b4914bc0d:635423a6b9b06bbeb5b22f72f7fe48ed:dfd271ad91b44862f87924498faddefc$</string>
            <key>textureFileName</key>
            <string>tile_backgrounds.png</string>
        </dict>
    </dict>
</plist>
